<%= turbo_frame_tag(dom_id(product)) do %>
  <div class="bg-white rounded-lg shadow-lg p-8">
    <div class="relative overflow-hidden">
      <%= button_to line_items_path(product_id: product), class: "image-button" do %>
        <%= image_tag(product.image_url, class: "object-fit w-full") %>
      <% end %>
      <div class="absolute inset-0 bg-black opacity-40"></div>
     <div class="absolute inset-0 flex items-center justify-center" id="viewProductButton">
  <%= button_to 'View Product', product_path(product), method: :get, class: "bg-white text-gray-900 py-2 px-6 rounded-full font-bold hover:bg-gray-300" %>
</div>

    </div>
    <h3 class="text-xl font-bold text-gray-900 mt-4"><%= product.title %></h3>
    <p class="text-gray-500 text-sm mt-2"><%= truncate(product.description, length: 90) %></p>
    <div class="flex items-center justify-between mt-4">
      <span class="text-gray-900 font-bold text-lg"><%= number_to_currency(product.price, unit: "Ksh") %></span>
      <%= button_to 'Add to Cart', line_items_path(product_id: product), method: :post, class: "bg-gray-900 text-white py-2 px-4 rounded-full font-bold hover:bg-gray-800" %>
    </div>
  </div>
<% end %>
